<!-- <app-header></app-header> -->
<section class="p-3" style="background-color: #fff;">
	<div class="p-2">
		<p class="text-center" style="font-weight: bold;">{{urldesc}}</p>
	  </div>
</section>
<div class="mb-5  p-5 page topic-page" style="background-color: #f3f3f3;" id="ph-topic">
  <div class="page-title" id="ph-title">
    <h1 class="p-3" style="color: #9d9b9b;">من نحن</h1>
  </div>
  <hr color="#f3f3f3" class="mb-3 text-body"/>
  <div class="page-body p-5 " style="font-size: 20px;color: #aaa;">
    <p>شــركة منيــف عامر عبدالله النهــدي للتجارة تفتخــر بعملائهــا وخدمتهــم فــي مراكــز مايــز لصيانــة الســيارات
      بشــتى الخدمــات تحــت بيئــة مجهــزة بأعلــى االامكانيـات والفنييـن وممثلـي خدمـة العمـلاء لتلبيـة طلباتهـم
      بأسـرع وقـت وخدمــة عمــلاء مــا بعــد البيــع</p>
    <p>&nbsp;</p>
    <p>Munif Amer Abdullah Alnahdi Trading, is proud to be offering services and supporting customers through Mize
      Centers and Parts stores. Mize centers are equipped with highest standards and capabilities from machinery and
      technical teams to provide the best services to our customers. We are also proud to be provided support and
      after-sale services to all our customers around the Kingdom</p>
  </div>
</div>
<!-- <app-footer></app-footer> -->