<!-- <app-header></app-header> -->

<div class="container-fluid text-center p-5" style="background-color: #f3f3f3;">
    <div class="row d-flex justify-content-center align-items-center text-center">
<div class="card text-center" style="width: 600px;">
    <div class="card-header h5 text-white bg-info">{{'Password Reset' |translate }}</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
          {{'Enter your New PassWord And Re-enter password.'|translate}}
        </p>
        <form [formGroup]="ForgetPasswordForm" (ngSubmit)="RestPassword()"> 
          <!-- /////////////////password/////////////////////// -->
  <div class="">
    <label for="NewPassword" class="form-label">{{'NewPassword'|translate}}</label>
    <input type="password" class="form-control" id="NewPassword" name="NewPassword"  formControlName="NewPassword"
     [class.is-valid]="NewPassword?.valid"  placeholder="{{'Enter your New Password'|translate}}">
    <div class="alert alert-danger"[hidden]="NewPassword?.valid||NewPassword?.untouched">
      <div *ngIf="NewPassword?.errors?.['required']">{{'Please write your Password' |translate}}</div>
      <div *ngIf="NewPassword?.errors?.['pattern']">{{'Your Last name must be more than 3 charchters'|translate}}</div>
   </div>
  </div>
  <div class="">
    <label for="ConfirmPassword" class="form-label">{{'Re-enter password'|translate}}</label>
    <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword"  formControlName="ConfirmNewPassword"
      [class.is-valid]="ConfirmNewPassword?.valid"  placeholder="{{'Re-Enter your New Password'|translate}}">
    <div class="alert alert-danger"[hidden]="ConfirmNewPassword?.valid||ConfirmNewPassword?.untouched">
      <div *ngIf="ConfirmNewPassword?.errors?.['required']">{{'Please Confirm your Password'|translate}}</div>
      <div *ngIf="ConfirmNewPassword?.errors?.['confirmPasswordValidator']">{{'Passwords do not match.'|translate}}</div>

   </div>
  </div>

              <div class="mt-3 ">
                <button type="submit" class="btn btn-warning col-12 fw-bold" [disabled]="ForgetPasswordForm.invalid">{{'Password Reset'|translate}}</button>
            
            </div>    </form>
        <div class="d-flex justify-content-between mt-4">
            <a class="" routerLink="/Login">{{'Login' | translate}}</a>
            <a class="" routerLink="/register">{{'Register' |translate}}</a>
        </div>
    </div>
</div>
</div>
</div>

<!-- <app-footer></app-footer> -->
