<div class="d-flex flex-column align-items-center p-5" style="background-color: #f3f3f3;">
  <div>
    <img src="assets/mizelogo2.jpeg" class="img-fluid" />
  </div>
  <div>
      <img src="assets/Images/kailey-kitty._CB466483591_.gif" class="img-fluid im2"/>
          <h2 class="fw-bold">{{'Looking for something?'|translate}}</h2>
          
        <img src="assets/Images/orange-arrow._CB466292667_.gif" class="img-fluid">

    <h5 class="fw-bold">
        {{'Go to Mize Website' |translate}} 
        <a routerLink="/Home">{{'Home page'|translate}}</a>
       <!-- {{'page'|translate}}  -->
    </h5>
    <h1>{{'404 - Not Found' |translate}}</h1>
    <h2 class="text-warning">{{'Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.' | translate}}</h2>

  </div> 
  </div>
