<section class="p-3" style="background-color: #fff;">
	<div class="p-2">
    <p class="text-center" style="font-weight: bold;">{{urldesc}}</p>
  </div>
</section>


<div style="background-color: #f3f3f3;" class="p-5">

<div class="master-column-wrapper">
    <div class="center-1">
        <div class="page topic-page" id="ph-topic">
            <div class="page-title" id="ph-title">
                <h1 style="color: #aaa;">شروط الإستخدام</h1>
            </div>
            <div class="page-body">
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                    ><span dir="RTL" lang="AR-SA" style="font-size:15pt">عميلنا العزيز:</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                    ><span dir="RTL" lang="AR-SA" style="font-size:15pt">نشكر لك زيارتك لمتجر مايز لصيانة
                        السيارات.</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span dir="RTL" lang="AR-SA" style="font-size:15pt">قبل كل شيء نرجو التكرم بالإطلاع
                        على سياسة الإرجاع على هذا الرابط</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span dir="RTL" lang="AR-SA" style="font-size:15pt;color:#f00"><a
                            href="https://mize.com.sa/shipping-returns" target="_blank" rel="noopener"><span
                                style="color:#f00">سياسة الإرجاع</span></a></span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                    ><span style="font-size:15pt"><span dir="RTL" lang="AR-SA">هذه الشروط والأحكام توفر
                            الحماية لنا ولعملائنا الكرام ولأي زائر يستخدم هذا الموقع. الرجاء قراءة الشروط التالية بعناية
                            قبل استخدام الموقع. يوافق المستخدم على أن الوصول إلى الموقع واستخدامه يخضع للشروط والأحكام
                            أدناه. إذا كان لديك اعتراض على أحد هذه البنود فنرجو منك التواصل معنا قبل إتمام عملية الشراء،
                            ويحتفظ مايز لصيانة السيارات بالحق في تغيير أجزاء من شروط الاستخدام والأحكام أو تعديلها أو
                            إضافة البعض منها أو إزالتها في أي وقت من الأوقات. وتصبح التغييرات سارية المفعول عندما يتم
                            نشرها على الموقع من دون سابق إنذار. لذلك، يرجى مراجعة شروط الاستخدام والأحكام بشكل منتظم
                            لمعرفة كل التحديثات. حيث يشكل استخدامك المستمر للموقع موافقتك على كل التغييرات التي يجري
                            إحداثها على الشروط والأحكام</span>.</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span dir="RTL" lang="AR-SA" style="font-size:15pt">العلامات التجارية وحق النشر</span>
                </p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span style="font-size:15pt"><span dir="RTL" lang="AR-SA">إن جميع حقوق الملكية
                            الفكرية، سواء كانت مسجلة أو غير مسجلة في الموقع، وكافة المعلومات والتصاميم الواردة على
                            الموقع تعتبر ملكا لشركة منيف عامر النهدي التجارية المسجلة في المملكة العربية السعودية، مدينة
                            جدة&nbsp;برقم (<span dir="RTL" lang="AR-SA" style="color:#404040">4030324524</span>)، وإن كل
                            محتويات الموقع محمية أيضا بموجب حقوق النشر كونها عمل جماعي يخضع لقوانين حقوق نشر المملكة
                            العربية السعودية والاتفاقيات الدولية. جميع حقوق النشر محفوظة</span>.</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span dir="RTL" lang="AR-SA" style="font-size:15pt">أخطاء مطبعية</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                   ><span style="font-size:15pt"><span dir="RTL" lang="AR-SA">في حال أن منتج أو خدمة في
                            متجر مايز لصيانة السيارات تم سرده عن طريق الخطأ بسعر غير صحيح، متجر مايز لصيانة السيارات
                            يحتفظ لنفسه بالحق في رفض أو إلغاء أي طلب موضوع للمنتج المسجل بسعر غير صحيح. متجر مايز لصيانة
                            السيارات يحتفظ لنفسه بالحق في رفض أو إلغاء أي أوامر من هذا القبيل سواء تم أو لم يتم تأكيد
                            الطلب وبطاقة الائتمان الخاصة بك مشحونة. إذا كان بالفعل بطاقة الائتمان الخاصة بك قد تم شحنها
                            للشراء وتم إلغاء الطلب الخاص بك،&nbsp;<span style="font-size:15pt"><span dir="RTL"
                                    lang="AR-SA">متجر مايز لصيانة السيارات</span></span> سيصدر ائتمان إلى حساب بطاقة
                            الائتمان الخاصة بك أو يطلب منك معلومات حسابك البنكي في قيمة السعر الخطأ</span>.</span></p>
                <p style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial"
                    ><span dir="RTL" lang="AR-SA" style="font-size:15pt">إشعار</span></p>
                <p
                    style="color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15pt;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;orphans:2;text-indent:0;text-transform:none;white-space:normal;widows:2;word-spacing:0;-webkit-text-stroke-width:0;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial">
                    <span dir="RTL" lang="AR-SA" style="font-size:15pt"><span style="font-size:15pt"><span dir="RTL"
                                lang="AR-SA">متجر مايز لصيانة السيارات</span></span>&nbsp;قد يرسل إخطار إليك
                        عن طريق البريد الإلكتروني او بالرسائل النصية أو إشعار عام على الموقع، أو بطريقة أخرى موثوق بها
                        إلى العنوان الذي وفرته لمتجر <span style="font-size:15pt"><span dir="RTL" lang="AR-SA">مايز
                                لصيانة السيارات</span></span></span></p>
            </div>
        </div>
    </div>
</div>

</div>


<!-- <app-footer></app-footer> -->