<!-- <app-header></app-header> -->

<div class="container-fluid  p-5" style="background-color: #f3f3f3;">

  
  <div class="row g-4 d-flex flex-row justify-content-around align-items-center mb-5  p-2" style="background-color: #cfcfcf;" >
    <div class="col-lg-2 col-md-4 col-sm-12 p-2 text-center mb-2 mt-3 hover" style="background-color: #fff;"><a class=" text-decoration-none p-2" style="color: black;font-size: 15px;" routerLink="/UserInfo">{{'USER INFPRMATION' |translate}}</a></div>
    <div class="col-lg-2 col-md-4 col-sm-12 p-2 text-center mb-2 mt-3 hover" style="background-color: #fff;"><a class="text-decoration-none p-2" style="color: black;font-size: 15px;" routerLink="/AdressDetails" >{{'The addresses'|translate}}</a></div>
    <div class="col-lg-2 col-md-4 col-sm-12 p-2 text-center mb-2 mt-3 hover" style="background-color: #fff;"><a class="text-decoration-none p-2 " style="color: black;font-size: 15px;" routerLink="/Orders" >{{'Orders'|translate}}</a></div>
    <div class="col-lg-2 col-md-4 col-sm-12 p-2 text-center mb-2 mt-3 hover" style="background-color: #fff;" ><a class=" text-decoration-none p-2" style="color: black;font-size: 15px;" routerLink="/changepassword" >{{'Change PassWord' | translate}}</a>

    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 p-2 text-center mb-2 mt-3 hover" style="background-color: #fff;"><a class=" text-decoration-none p-2" style="color: black;font-size: 15px;" routerLink="/Reward Points" >{{"Reward Points"| translate}}</a>
    </div>
</div>


    <div class="row d-flex justify-content-center align-items-center text-center">
<div class="card text-center" style="width: 600px;">
    <div class="card-header h5 text-white bg-warning">{{'Password Reset' | translate}}</div>
    <div class="card-body px-5">
        <p class="card-text py-2">

           {{'Enter your New PassWord And Re-enter password.' |translate}} 
        </p>
        <form [formGroup]="ForgetPasswordForm" (ngSubmit)="ChangePassword()">
          <div class="">
            <input type="hidden" class="form-control" id="UserName" name="UserName"  formControlName="UserName">
          </div>
  
          <!-- /////////////////password/////////////////////// -->

          <div class="">
            <label for="CurrentPassword" class="form-label">{{'CurrentPassword'|translate}}</label>
            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword"  formControlName="CurrentPassword"
             [class.is-valid]="CurrentPassword?.valid" placeholder="{{'Enter your Current Password'|translate}}">
            <div class="alert alert-danger"[hidden]="CurrentPassword?.valid||CurrentPassword?.untouched">
              <div *ngIf="CurrentPassword?.errors?.['required']">{{'Please write your Password'|translate}}</div>          
            </div>
          </div>



  <div class="">
    <label for="NewPassword" class="form-label">{{'NewPassword' | translate}}</label>
    <input type="password" class="form-control" id="NewPassword" name="NewPassword"  formControlName="NewPassword"
     [class.is-valid]="NewPassword?.valid" placeholder="{{'Enter your New Password'|translate}}">
    <div class="alert alert-danger"[hidden]="NewPassword?.valid||NewPassword?.untouched">
      <div *ngIf="NewPassword?.errors?.['required']">{{'Please write your New  Password' | translate}}</div>
   </div>
  </div>
  <div class="">
    <label for="ConfirmPassword" class="form-label">{{'Re-enter password'|translate}}</label>
    <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword"  formControlName="ConfirmNewPassword"
      [class.is-valid]="ConfirmNewPassword?.valid"  placeholder="{{'Re-Enter your New Password'|translate}}">
    <div class="alert alert-danger"[hidden]="ConfirmNewPassword?.valid||ConfirmNewPassword?.untouched">
      <div *ngIf="ConfirmNewPassword?.errors?.['confirmPasswordValidator']">{{'Passwords do not match.'|translate}}</div>
   </div>
  </div>

              <div class="mt-3 ">
                <button type="submit" class="btn btn-warning col-12 fw-bold" [disabled]="ForgetPasswordForm.invalid">{{'Password Reset' | translate}}</button>
            
            </div>
        </form>
       
    </div>
</div>
</div>
</div>

<!-- <app-footer></app-footer> -->
