<!-- <app-header></app-header> -->
<section class="p-3" style="background-color: #fff;">
	<div class="p-2">
    <p class="text-center" style="font-weight: bold;">{{urldesc}}</p>
  </div>
</section>


<div style="background-color: #f3f3f3;" class="p-5">

<div class="page topic-page" id="ph-topic">
    <div class="page-title" id="ph-title">
        <h1 class="text-center mb-3" style="color: #aaa;font-size: 30px;line-height: 30px;text-transform: uppercase;font-weight: lighter;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: italic;" >منصات مايز</h1>
    </div>
    <div class="page-body p-3">
        <p class="mb-2" style="text-align:center;color: #aaa;font-size: 20px; " >فيما يلي قائمة بمنصات التواصل الإجتماعي لمراكز مايز لصيانة السيارات&nbsp;</p>
        <p class="mb-3" style="text-align:center"><span style="font-size:1.2rem"><a title="انستغرام مايز"
                    href="https://www.instagram.com/mizeworld" target="_blank" rel="noopener"><img
                        src="assets/socials-instagram-icon.png" alt="انستغرام - مايز لصيانة السيارات"
                        width="50" height="50"></a></span></p>
        <p class="mb-3" style="text-align:center" ><span style="font-size:1.2rem"><strong><a title="فيسبوك مايز لصيانة السيارات"
                        href="https://www.facebook.com/profile.php?id=100089767818407" target="_blank"
                        rel="noopener"><img src="assets/socials-facebook-icon.png" alt="" width="50"
                            height="50"></a></strong></span></p>
        <p class="mb-3" style="text-align:center"><span style="font-size:1.2rem"><strong><a title="تويتر مايز لصيانة السيارات"
                        href="https://twitter.com/MizeWorld" target="_blank" rel="noopener"><img
                            src="assets/socials-twitter-icon.png" alt="" width="50"
                            height="50"></a></strong></span></p>
        <p class="mb-3" style="text-align:center"><a title="مايز لصيانة السيارات - تكتوك - تيكتوك"
                href="https://www.tiktok.com/@mize_world"><span style="font-size:1.2rem"><strong><img
                            src="assets/socials-tiktok-icon.png" alt="مايز لصيانة السيارات - تيكتوك - تكتوك"
                            width="50" height="50"></strong></span></a></p>
        <p class="mb-3" style="text-align:center"><span style="font-size:1.2rem"><strong><a title="سناب مايز لصيانة السيارات"
                        href="https://www.snapchat.com/add/mizeworld" target="_blank" rel="noopener"><img
                            src="assets/socials-snapchat-icon.png" alt="سناب مايز لصيانة السيارات" width="50"
                            height="51"></a></strong></span></p>
        <p class="mb-3" style="text-align:center"><span style="font-size:1.2rem"><strong><a
                        title="تواصل وتساب مع مايز لصيانة السيارات" href="https://wa.me/966558023145" target="_blank"
                        rel="noopener"><img src="assets/socials-whatsapp-icon.png" alt="" width="50"
                            height="50"></a></strong></span></p>
        <p class="mb-3" style="text-align:center"><a title="يوتيوب مايز لصيانة السيارات" href="https://youtube.com/@MizeAPP"
                target="_blank" rel="noopener"><span style="font-size:1.2rem"><strong><img
                            src="assets/socials-youtube-icon.png" alt="يوتيوب مايز لصيانة السيارات" width="50"
                            height="50"></strong></span></a></p>
        <p class="mb-3" style="text-align:center"><span style="font-size:1.2rem"><strong><a
                        title="مراكز مايز لصيانة السيارات مواقع الفروع" href="https://goo.gl/maps/cSQjimpGRaCkEC6d8"
                        target="_blank" rel="noopener"><img src="assets/socials-googlemap-icon.png"
                            alt="جوجل ماب مايز لصيانة السيارات" width="50" height="52"></a></strong></span></p>
    </div>
</div>


</div>





<!-- <app-footer></app-footer> -->