<section class="container-fluid d-sm-flex d-md-flex d-lg-none d-xl-none d-xxl-none p-3" style="background-color: #fff;width: 100%;">   
  <section class="row d-flex flex-column" style="width: 100%;">

     <!-- Section: Form -->
     <section class="text-center  col-sm-12 col-md-12 col-lg-12 ">
      <form action="">
        <!--Grid row-->
        <section class="row d-flex flex-column justify-content-center align-items-center  ">
          <!--Grid column-->
          <div class="col-12 p-3 bg-warning">
            <p class="pt-2">
              <strong class="text-white"> {{"Newsletter"|translate}}</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <section class="col-12 p-3 bg-warning">
            <!-- Email input -->
            <section class="form-dark form-white mb-1">
              <input type="email" id="form5Example2" class="form-control p-3 text-center" size="50px"  placeholder="{{'Enter Your Email Here'|translate}}"/>
            </section>
          </section>
          <!--Grid column-->

          <!--Grid column-->
          <section class=" col-12 p-3 bg-warning">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-danger p-4  mb-1">
              SUBSCRIBE<i class="fa-regular fa-envelope-open mx-2" style="color: #ffffff;"></i> 
            </button>
          </section>
          <!--Grid column-->
            <!-- Section: Social media -->
    <section class=" mb-2   col-12 p-3 bg-warning text-center" >
      <!-- Facebook -->
      <a href="https://www.facebook.com/profile.php?id=100089767818407" class="btn btn-outline-primary btn-floating  mx-3 p-3"  role="button"><i class="fab fa-facebook-f" style="font-size: 15px;"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-primary btn-floating  mx-3 p-3" href="https://twitter.com/MizeWorld" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-danger btn-floating  mx-3 p-3" href="https://www.youtube.com/c/MizeAPP" role="button"><i class="fa-brands fa-youtube" ></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-info btn-floating  mx-3 p-3" href="https://www.instagram.com/mizeworld/" role="button"><i class="fab fa-instagram"></i></a>
    
    </section>
    <!-- Section: Social media -->
        </section>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
    <section class=" btn-group  col-sm-12 col-md-12 col-lg-12 " style="background-color: #f3f3f3 !important;">
      <button class="btn btn-warning dropdown-toggle" style="background-color: #ffc107 !important;" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
        {{"CONTACT INFO"|translate}}
      </button>
      <ul class="dropdown-menu w-100 text-center">
        <li class="d-flex flex-row"><i class="fa-solid fa-phone fa-beat" style="color: #ffa424;"></i><a class="dropdown-item" href="tel:966558023145 ">0558023145</a></li>
        <li class="d-flex flex-row"> <i class="fa-solid fa-clock fa-beat" style="color: #ffa424;"></i><span class="dropdown-item" href="#">{{"From Saturday Until Thursday"|translate}}</span></li>
        <li class="d-flex flex-row"><i class="fa-regular fa-envelope-open fa-flip" style="color: #ffa424;"></i><a class="dropdown-item" href="#">{{"sales@mize.com.sa"}}</a></li>
        <li class="d-flex flex-row"><i class="fa-solid fa-location-dot fa-bounce" style="color: #ffa424;"></i><span class="dropdown-item" href="#">{{"Kingdom of Saudi Arabia,Jeddah"|translate}}</span></li>
      </ul>       
      
    </section>
    <section class=" btn-group col-sm-12 col-md-12 col-lg-12 ">
      <button class="btn btn-warning dropdown-toggle" style="background-color: #ffc107 !important;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{"INFORMATION"|translate}}
      </button>
      <ul class="dropdown-menu w-100 text-center">
        <li><a routerLink="/PrivacyPolicy" class="dropdown-item text-decoration-none">{{"Privacy Policy"|translate}}</a></li>
        <li><a routerLink="/TermsOfUse" class="dropdown-item text-decoration-none">{{"Terms of Use"|translate}}</a></li>
        <li><a routerLink="/AboutUs" class="dropdown-item text-decoration-none">{{"About Us"|translate}}</a></li>
      </ul>
    </section>
     <section class=" btn-group col-sm-12 col-md-12 col-lg-12 text-center">
      <button class="btn btn-warning dropdown-toggle" style="background-color: #ffc107 !important;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{"CUSTOMER SERVICE"|translate}}
      </button>
      <ul class="dropdown-menu w-100 text-center">
        <li><a routerLink="/blog" class="dropdown-item text-decoration-none">{{"Blog"|translate}}</a></li>
      </ul>
    </section> 
     <section class=" btn-group col-sm-12 col-md-12 col-lg-12 " style="background-color: #f3f3f3;">
      <button class="btn btn-warning dropdown-toggle" style="background-color: #ffc107 !important;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{"MY ACCOUNT"|translate}}
      </button>
      <ul class="dropdown-menu w-100 text-center">
        <li><a href="#!" class="dropdown-item text-decoration-none">{{"MY account"|translate}}</a></li>
        <li><a routerLink="/Orders" class="dropdown-item text-decoration-none">{{"Orders"|translate}}</a></li>
        <li> <a routerLink="/basket" class="dropdown-item text-decoration-none">{{"Shopping cart"|translate}}</a></li>
      </ul>
    </section> 
      


       <!-- Copyright -->
       <section class="container-fluid mt-3" style="width: 100%;">
        <section class="row d-flex flex-column justify-content-between align-items-center   p-2  mb-2 " style="width: 100%;border: 2px  solid #fff;border-radius: 5px;background-color: #ffe38f;">
          <section class="col-12 p-2 text-center">
           <p> حقوق الطبع والنشر والنسخ كل الحقوق محفوظة MIZE 2024</p>
          </section>
           
          <section class="col-12 d-flex p-2 justify-content-center">
            <p>
             صنع بواسطة : مايز لصيانة السيارات
            </p>
          </section>
         </section>
         <!-- Copyright -->
  </section>
             
  </section>


  
   </section>
 
















<!-- mobile -->



<!-- Remove the container if you want to extend the Footer to full width. -->
<section class="d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block bgyfy" dir="rtl" style="position: relative;">

  <!-- Footer -->
<footer class="text-black " >
  <!-- Grid container -->
  <section class="container-fluid">
  

    <!-- Section: Form -->
    <section class="text-center mb-5 bg-warning p-5" >

      <section class="p-5" style="background-color: #fff;border-radius: 5px;">
        <section class="mb-3">
          <p>
            <strong> {{"Newsletter"|translate}}</strong>
          </p>
          <p>
            {{"Newsletter"|translate}}
          </p>
          <p>
             {{"Newsletter"|translate}}
          </p>
        </section>
       <!--Grid column-->
      
      <!--Grid column-->
      <form action="">
        <section class="row">
          <section class="col-12">
            <input type="email" id="form5Example2" class="text-center p-2" size="50" placeholder="{{'Enter Your Email Here'|translate}}"/>
            <button type="submit" class=" btn btn-outline-danger mx-2 p-2">
              SUBSCRIBE<i class="fa-regular fa-envelope-open mx-2" style="color: #000;"></i> 
            </button>
          </section>
        </section>
              
              
      </form>
    </section>
    </section>
    <!-- Section: Form -->



 


    <!-- Section: Social media -->
     <section class="container-fluid ">
      <section class="d-flex flex-column align-items-center" >
        <section class="row d-flex flex-row justify-content-between align-items-center  p-5 mb-5" style="border: 2px  solid #aaa;border-radius: 5px;width: 90%;">
          
          <section class="col-3"> 
                <i class="fa-solid fa-phone fa-beat" style="color: #ffa424;"></i> <a href="tel:966558023145 " class="mx-2 text-decoration-none text-black">0558023145</a>
          </section> 
  
          <section class="col-3">  
               <i class="fa-solid fa-clock fa-beat" style="color: #ffa424;"></i> <span  class="mx-2">{{"From Saturday Until Thursday"|translate}}</span>
          </section> 
          <section class="col-3">
            <i class="fa-regular fa-envelope-open fa-flip" style="color: #ffa424;"></i> <span  class="mx-2">{{"sales@mize.com.sa"}}</span>
          </section>
          <section class="col-3"> 
            <i class="fa-solid fa-location-dot fa-bounce" style="color: #ffa424;"></i> <span  class="mx-2">{{"Kingdom of Saudi Arabia,Jeddah"|translate}}</span>
          </section>
          
  
        </section>

         <section class="row d-flex flex-row justify-content-around    pt-5 pb-5 mb-5 " style="width: 90%;border: 2px  solid #fff;border-radius: 5px;background-color: #ffe38f;">
                 
          <section class="col-lg-2 col-md-6 mb-4 mb-md-0 links">
            <!-- Facebook -->
            <section class="mb-3">
              <a routerLink="/Home" class="text-decoration-none links">
                <img  src="assets/WhatsApp Image 2023-10-04 at 2.25.05 PM.jpeg" style="width: 50px;height: 50px;" />
                <span class="mx-3 text-black" style="font-size: 25px;font-weight: bold;">{{'Mize'|translate}}</span>
              </a>
            </section>
            <section class="mb-3  d-flex flex-row justify-content-around">
              <a href="https://www.facebook.com/profile.php?id=100089767818407" class="btn btn-outline-primary"  role="button "><i class="fab fa-facebook-f p-2" style="font-size: 15px;"></i></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-primary " href="https://twitter.com/MizeWorld" role="button"><i class="fab fa-twitter p-2" style="font-size: 15px;"></i></a>
      
            <!-- Google -->
            <a class="btn btn-outline-danger" href="https://www.youtube.com/c/MizeAPP" role="button"><i class="fa-brands fa-youtube p-2" style="font-size: 15px;"></i></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-info" href="https://www.instagram.com/mizeworld/" role="button"><i class="fab fa-instagram p-2" style="font-size: 15px;"></i></a>
          
            </section>
            
          </section>
          
          <!--Grid column-->
        <section class="col-lg-2 col-md-6 mb-4 mb-md-0 links" >
          <h3 class="text-uppercase" style="font-weight: bold;">{{"INFORMATION"|translate}}</h3>

              <section class="mb-2"><a routerLink="/PrivacyPolicy" class="text-decoration-none text-black">{{"Privacy Policy"|translate}}</a></section>
              <section class="mb-2"><a routerLink="/TermsOfUse" class="text-decoration-none text-black">{{"Terms of Use"|translate}}</a></section>
              <section class="mb-2"><a routerLink="/AboutUs" class="text-decoration-none text-black">{{"About Us"|translate}}</a></section>
          
        </section>
        <!--Grid column-->

        <!--Grid column-->
        <section class="col-lg-2 col-md-6 mb-4 mb-md-0 links" >
          <h3 class="text-uppercase" style="font-weight: bold;">{{"CUSTOMER SERVICE"|translate}}</h3>

          
              <section class="mb-2"><a routerLink="/blog" class="text-decoration-none text-black">{{"Blog"|translate}}</a></section>
          </section>
        <!--Grid column-->

        <!--Grid column-->
        <section class="col-lg-2 col-md-6 mb-4 mb-md-0 links">
          <h3 class="text-uppercase" style="font-weight: bold;">{{"MY ACCOUNT"|translate}}</h3>

            <section class="mb-2 links"><a href="#!" class="text-decoration-none text-black">{{"MY account"|translate}}</a></section>
            <section class="mb-2 links"><a routerLink="/Orders" class="text-decoration-none text-black">{{"Orders"|translate}}</a></section>
            
            <section class="mb-2 links">  <a routerLink="/basket" class="text-decoration-none text-black">{{"Shopping cart"|translate}}</a></section>
          </section>
        <!--Grid column-->
         </section> 

                  <!-- Copyright -->
          <section class="row d-flex flex-row justify-content-between align-items-center   p-2  mb-2 " style="width: 90%;border: 2px  solid #fff;border-radius: 5px;background-color: #ffe38f;">
           <section class="col-6 p-2">
            <p> حقوق الطبع والنشر والنسخ كل الحقوق محفوظة MIZE 2024</p>
           </section>
            
           <section class="col-6 d-flex p-2 justify-content-end">
             <p>
              صنع بواسطة : مايز لصيانة السيارات
             </p>
           </section>
          </section>
          <!-- Copyright -->

      </section>
     
     </section>
      
  
      














  </section>
  <!-- Grid container -->

 
</footer>
<!-- Footer -->
  
</section>
<!-- End of .container -->













  <!-- wats up -->
  <section>
    <a  href="https://api.whatsapp.com/send/?phone=%2B9660558023145&text&type=phone_number&app_absent=0"  target="_blank" class="whatsapp_right"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>
   </section>
  <!-- wats up --> 

 <!-- wats up -->
 <!-- <div>
  <a href="https://api.whatsapp.com/send/?phone=%2B9660558023145&text&type=phone_number&app_absent=0"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>
 </div> -->
<!-- wats up --> 

<!-- chat.component.html -->
 
  <button class="p-2 scroll-to-top" style="background-color: #ffc107;" (click)="scrollToTop()"><i class="fas fa-chevron-circle-up"></i></button>



  <!-- <div class="container py-5 whatsapp_chat" >

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center p-3"
            style="border-top: 4px solid #ffa900;">
            <h5 class="mb-0">Chat messages</h5>
            <div class="d-flex flex-row align-items-center">
              <span class="badge bg-warning me-3">20</span>
              <i class="fas fa-minus me-3 text-muted fa-xs"></i>
              <i class="fas fa-comments me-3 text-muted fa-xs"></i>
              <i class="fas fa-times text-muted fa-xs"></i>
            </div>


          </div>
          <div *ngFor="let message of messages" [ngClass]="{'user-message': message.startsWith('You'), 'bot-message': message.startsWith('Bot')}">
      {{ message }}
    </div>
  <div class="input-container mt-2">
    <input [(ngModel)]="newMessage" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
        </div>

      </div>
    </div>

  </div> -->


  